TURSO_DATABASE_URL=libsql://yt-downloader-rudra-raj-nandani.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTA1NTQ1MjQsImlkIjoiMDFhMGU1NWQtYTcwMS03Y2RlLTg0YjAtZjIwYzc0ZjFkMjVjIiwia2lkIjoieGRKcXV2RFNmVWtaWkp2Z0x0ZURkWFBZSjlXOWZUZTRtd1BHaUZTTWFwRSIsInJpZCI6ImI5ZWRjOTViLTc3MjctNDkzOC04N2QxLTQ0Y2EwNmYxMGQzOSJ9._McHMPlk7DFckZJKL7nkBKPZJTtNi0gnNDugbKeaxQxhXg9_gJXY4lSiqgVmjCIQ5Sv_6ZWnSTc0EMgFYCKzDg
ADMIN_API_KEY=yt_sec_794ae71a4f71a66b5dd66774
